body {
    background-color: #03FCB1;
	font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
	text-align: center;
	padding: 10px;  
	color: black;
}

/* Resetando margens e preenchimentos padrão */
n_abas_content {
	padding: 20px;
	width: 80px;
	height: 60px;
}

/* button */
.styled-button {
    padding: 5px;
	background-color: white;
	border: none;
	border-radius: 10px;
	padding: 10px 25px;
	color: black;
	cursor: pointer;
}

.styled-button:hover {
	background-color: #0080ff; 
	color: white; 
}
